
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow-x:hidden ;
}

@theme{
  --font-inktrap: "Bricolage Grotesque", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* padding: 0.6em 1.2em; */
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer {
  .input-template {
    @apply w-full border border-gray-600 rounded-md px-3 pt-3 pb-3 text-sm focus:outline-none focus:border-lime-300;
  }
  .password-list{
    @apply flex items-center px-4 py-3 my-2 rounded-lg bg-[#2a2a2a] hover:bg-[#333] transition-colors duration-200 cursor-pointer border border-transparent hover:border-white/20;
  }
}

::-webkit-scrollbar {
  background: #ffffff00;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.45);
}
